build:unused-deps --aspects=//tools/swift_unused_deps/aspect:deps_info.bzl%swift_deps_aspect
build:unused-deps --output_groups=swift_deps_report
build:unused-deps --@build_bazel_rules_swift//swift:copt=-index-store-path
build:unused-deps --@build_bazel_rules_swift//swift:copt=/tmp/swift_unused_deps_index_store
build:unused-deps --spawn_strategy=local
