build:swift-unused-deps --features=swift.index_while_building
build:swift-unused-deps --aspects=@swift_unused_deps//tools/swift_unused_deps:defs.bzl%swift_unused_deps_aspect
build:swift-unused-deps --output_groups=swift_unused_deps_metadata

build:swift-unused-deps-ios --config=swift-unused-deps
build:swift-unused-deps-ios --platforms=@apple_support//platforms:ios_sim_arm64
